.bg-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  font-family: Lobster;
}
.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.failure-view {
  width: min(90%, 500px);
}

@media screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
}
